.page-2 {
    text-align: center;
  }
  
.page-2 .content {
    align-items: center;
  }
  

  .page-2 h1 {
    color: #000000;
    font-size: 52px;
    margin-bottom: 0.45rem;
  }
  
  .page-2 .bottom-link {
    color: #868686;
    font-size: 18px;
    font-weight: light;
    text-decoration: none;
    margin-bottom: 40px;
  }
  
  .page-2 .main-button {
    background-color: #EEEEEE;
  }

  .form-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 72%;
    width: 100%;
    margin-top: 20px;
    padding: 90px 25px 25px 25px;
    background-position: center;
    background-size: contain;
  }
  
  .form-placeholder .title {
    color: #171717;
    font-size: 18px;
    text-align: left;
    width: 100%;
  }
  
  .form-placeholder .title.big {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form-placeholder .subtitle {
    margin-top: 10px;
    color: #52544F;
    font-size: 14px;
    text-align: left;
    width: 100%;
  }
  
  .form-placeholder .radio-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }



.stakes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 20px;
  }
  
  .stakes .staking-box {
    margin-bottom: 10px;
    height: 80px;
    max-height: 90px;
  }
  
  .stakes .staking-box .col .item:last-child {
    margin-top: 5px;
  }
  
  .stakes .staking-box .col {
    padding: 0 10px;
  }
  
  .stakes .staking-box .col .item .value {
    margin-top: 0;
    font-size: 12px;
  }
  
  .stakes .staking-box.new {
    align-items: center;
    justify-content: center;
  }
  


.staking-box {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D0D0D0;
  border-radius: 27px;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.1);
}

.staking-box .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.staking-box .col:first-child {
  border-right: 1px solid #ffffff;
}

.staking-box .col .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.staking-box .col .item:last-child {
  margin-top: 20px;
}

.staking-box .col .item .title {
  color: #52544F;
  font-size: 10px;
  text-align: left;
  width: 100%;
}

.staking-box .col .item .value {
  margin-top: 10px;
  color: #171717;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.page-dashboard .content {
  height: 100%;
  padding: 120px 20px 20px 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-dashboard .content h1 {
  font-size: 44px;
}