:root {
  --header-color: #DFF2D8;
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: 'Archivo Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  background: var(--tg-theme-secondary-bg-color);
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentWrapper {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) !important;
  border-radius: 10px;
  margin: 5px 0;
  padding: 20px;
  box-sizing: border-box;
}

.ant-input,
.ant-select,
.ant-select-item {
  background-color: unset !important;
}

/* w */

.header {
  display: flex;
  justify-content: space-between;
  background: var(--header-color);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.header img {
  width: 25%;
}

.header .icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header .icons img {
  width: 22px;
  height: 22px;
  margin: 0 5px;
  cursor: pointer;
}

.page-claim {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #DFF2D8 -50%, #fff 100%);
}

.page-claim .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.page-claim .content .box {
  text-align: center;
  padding-top: 100px;
}

.page-claim .content .box span {
  color: #52544F;
  font-size: 14px;
  font-weight: light;
}

.page-claim .content .balance h1 {
  margin-bottom: 0;
  color: #000000;
  font-size: 72px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.page-claim .content .claim {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.main-button {
  display: block;
  width: 260px;
  height: 90px;
  margin-top: 10px;
  background-color: #ffffff;
  color: #000000;
  font-size: 50px;
  border: 1px solid #464C72;
  border-radius: 30px;
  box-shadow: 5px 10px 10px rgba(70, 76, 114, 0.5);
}

.main-button:active {
  background-color: #464C72;
  color: #ffffff;
  transition: 0.5s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.page-claim .main-button {
  margin-top: -50px;
}

.page-claim .content .bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #464C72;
  border-radius: 20px;
  margin-bottom: 50px;
}

.page-claim .content .bottom-nav a {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 5px 0;
  text-align: center;
  text-decoration: none;
  color: #565656;
  font-size: 10px;
  font-weight: light;
  border-right: 1px solid #D9E9C3;
}

.page-claim .content .bottom-nav a:last-child {
  border-right: none;
}

.page-claim .content .bottom-nav a h3 {
  margin: 0;
  font-size: 30px;
}

.page, .page-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 50px 25px 25px 25px;
}

.page-claim {
  padding: 0;
}

.page .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-tasks .content {
  margin-bottom: 50px;
}

.page-tasks .content .list {
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.5);
  max-height: 100%;
}

.page-tasks .content .list .items {
  max-height: 100%;
  height: auto;
}

.page-tasks .content .list .item {
  position: relative;
  background-color: transparent;
  justify-content: flex-start;
}

.page-tasks .content .list .item.completed {
  pointer-events: none;
}

.page-tasks .content .list .item.completed::after {
  content: '✅ COMPLETED ✅';
  position: absolute;
  text-align: center;
  line-height: 90px;
  font-size: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.page-tasks .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page, .page-1 h1 {
  color: #000000;
  font-size: 52px;
  margin-bottom: 0.45rem;
}

.page-1 p {
  color: #52544F;
  font-size: 10px;
  font-weight: light;
  text-align: left;
  line-height: 15px;
}

.page-1 p b {
  color: #000000;
  font-weight: bold;
}

.page-1 .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-1 .list .items {
  width: 100%;
  height: 290px;
  max-height: 290px;
  overflow-y: scroll;
}

.page-1 .list h2 {
  font-size: 24px;
}

.page-1 .list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(217, 217, 217, 0.5);
}

.page-1 .list .item img {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  border-radius: 10px;
}

.page-1 .list .item .username {
  margin-right: auto;
  font-size: 18px;
}

.page-1 .list .item .balance {
  font-size: 14px;
  color: #565656;
  font-weight: light;
}

.page-1 .main-button {
  width: 100%;
  color: #ffffff;
  background-color: #464C72;
  font-size: 20px;
  height: auto;
  padding: 15px 0;
  border-radius: 20px;
}

.page-2 {
  text-align: center;
}

.page-2 .content {
  align-items: center;
}

.page-2 h1 {
  color: #000000;
  font-size: 52px;
  margin-bottom: 0.45rem;
}

.page-2 .bottom-link {
  color: #868686;
  font-size: 18px;
  font-weight: light;
  text-decoration: none;
  margin-bottom: 40px;
}

.page-2 .main-button {
  background-color: #EEEEEE;
}

.form-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 72%;
  width: 100%;
  margin-top: 20px;
  padding: 90px 25px 25px 25px;
  background-position: center;
  background-size: contain;
}

.form-placeholder .title {
  color: #171717;
  font-size: 18px;
  text-align: left;
  width: 100%;
}

.form-placeholder .title.big {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-placeholder .subtitle {
  margin-top: 10px;
  color: #52544F;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.form-placeholder .radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.custom-radio-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.custom-radio-button img {
  box-sizing: border-box;
  width: 100%;
}

.custom-radio-button.selected img {
  border: 2px solid #464C72;
  border-radius: 20px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-buttons .form-button {
  flex-grow: 2;
  height: 40px;
  background-color: #E3E3E3;
  color: #000000;
  font-size: 16px;
  border-radius: 15px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-back {
  flex-grow: 1;
  margin-right: 10px;
}

.slider-value {
  margin-top: 20px;
} 

.slider-max {
  margin-top: 15px;
  color: #171717;
  font-size: 14px;
}


.slider {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 6px;
  background: #ccc;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #464C72;
  cursor: pointer;
}

/* Thumb: Firefox */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #464C72;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(104, 101, 149, 0.1)
}
.slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}

.slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}

.slider::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(104, 101, 149, .1)
}
.slider:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}
.slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)    
}

.staking-box {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D0D0D0;
  border-radius: 27px;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.1);
}

.staking-box .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.staking-box .col:first-child {
  border-right: 1px solid #ffffff;
}

.staking-box .col .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.staking-box .col .item:last-child {
  margin-top: 20px;
}

.staking-box .col .item .title {
  color: #52544F;
  font-size: 10px;
  text-align: left;
  width: 100%;
}

.staking-box .col .item .value {
  margin-top: 10px;
  color: #171717;
  font-size: 16px;
  text-align: left;
  width: 100%;
}

.purple {
  color: #9747FF !important;
}

.page-dashboard .content {
  height: 100%;
  padding: 120px 20px 20px 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page-dashboard .content h1 {
  font-size: 44px;
}

.stakes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.stakes .staking-box {
  margin-bottom: 10px;
  height: 80px;
  max-height: 90px;
}

.stakes .staking-box .col .item:last-child {
  margin-top: 5px;
}

.stakes .staking-box .col {
  padding: 0 10px;
}

.stakes .staking-box .col .item .value {
  margin-top: 0;
  font-size: 12px;
}

.stakes .staking-box.new {
  align-items: center;
  justify-content: center;
}
