:root {
  --header-color: #DFF2D8;
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: 'Archivo Black', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  background: var(--tg-theme-secondary-bg-color);
  padding: 0;
  margin: 0;
  max-height: 100vh;
  overflow: hidden;
  font-family: var(--default-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentWrapper {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) !important;
  border-radius: 10px;
  margin: 5px 0;
  padding: 20px;
  box-sizing: border-box;
}

.ant-input,
.ant-select,
.ant-select-item {
  background-color: unset !important;
}

/* w */

.page .content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.custom-radio-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.custom-radio-button img {
  box-sizing: border-box;
  width: 100%;
}

.custom-radio-button.selected img {
  border: 2px solid #464C72;
  border-radius: 20px;
}

.button-back {
  flex-grow: 1;
  margin-right: 10px;
}

.slider-value {
  margin-top: 20px;
} 

.slider-max {
  margin-top: 15px;
  color: #171717;
  font-size: 14px;
}


.slider {
  -webkit-appearance: none;
  appearance: none; 
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 20px;
  height: 6px;
  background: #ccc;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #464C72;
  cursor: pointer;
}

/* Thumb: Firefox */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #464C72;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(104, 101, 149, 0.1)
}
.slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}

.slider:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}

.slider::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(104, 101, 149, .1)
}
.slider:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)
}
.slider:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(104, 101, 149, .2)    
}

.purple {
  color: #9747FF !important;
}

